.navbar {
  background-color: transparent;
  transition: 0.8s all ease;
}
.colorChange {
  background-color: "red";
}
.MuiFormHelperText-root {
  color: red !important;
  font-size: 1rem !important;
}
.active {
  color: #fff;
  background-color: #fe79a2;
  padding: 5px 10px;
  border: 1px solid #fe79a2;
  border-radius: 5px;
}
