.navbar {
  background-color: transparent;
  transition: 0.8s all ease;
}
.colorChange {
  background-color: "red";
}
.MuiFormHelperText-root {
  color: red !important;
  font-size: 1rem !important;
}
